.container {
    margin: 50px 0;
  }
  
  .card {
    margin: 0 2% ;
  }
  
  .infected {
    background-color: #66b3ff80 ;
    border-bottom: 10px solid #0000ff80;
  }
  
  .recovered {
    background-color: #bff2ca80;
    border-bottom: 10px solid #00ff0080;
  }
  
  .deaths {
    background-color: #edb2b280 ;
    border-bottom: 10px solid #ff000080;
  }
  
  .active {
    background-color: #edc79880 ;
    border-bottom: 10px solid #f2ea0080;
  }
  
  @media (max-width: 770px) {
    .card {
      margin: 2% 0 ;
    }
  }
